@import "base/variables";
@import "mixins/mixin-base";
@import "base/meyer-reset";
@import "base/base";
@import "base/classes-utiles";
@import "base/accessibilite";

// Import des mixins
// @import "mixins/mixin-background-linear";
// @import "mixins/mixin-pictos-menu";
// @import "mixins/mixin-triangles";

// Import des layout
 @import "layout/layout-header";
// @import "layout/layout-header-inter-title";
// @import "layout/layout-footer";
@import "layout/layout-content-accueil";
// @import "layout/layout-content-inter";
// @import "layout/layout-product";

// Import des modules
// @import "modules/module-flexslider-custom";
// @import "modules/module-superfish";
// @import "modules/module-filtres";
@import "modules/module-grille-responsive";
@import "modules/module-maps";

use[*|href$="#twitter"]{
	$twitter-c: #00aced;
	fill:$twitter-c;
	transform-origin: 50% 50%;
	transition: 0.5s;
	&:hover{
		fill:lighten($twitter-c, 25%);
		transform: rotate(10deg);
	}
}
use{
	&[*|href$="#heart"],&[*|href$="#spot"]{
		fill:#EA0000;
	}
}
use[*|href*="#facebook"]{
	fill:#3B5998;
}