

/*------------------------------------*\
    $ ACCESSIBILITE
\*------------------------------------*/
.screen-reader-text  {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
  &:focus {
  // undo the hiding
  width: auto;
  height: auto;
  margin: 0;
  overflow: auto;
  clip: auto;
  // some explicit visual styles
  display: block;
  background: #eee;
  color: #000;
  text-decoration: underline;
  padding: 1em;
}


}
